<%= simple_form_for(@event, html: { multipart: true, class: "form-horizontal" }) do |f| %>
    <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :date, start_year: Date.today.year,
                end_year: Date.today.year + 20,
                order: [:month, :year] %>
    <%= f.input :time %>
    <%= f.input :description %>
    <%= f.input :external_link %>
    <%= f.input :source, label: 'Organization/Department' %>
    <%= f.association :creator, label_method: :username, priority: :current_user %>
    <legend>Attach Event Picture here</legend>
    <%= f.input :picture %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Create Event', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
