<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
  <% if !@event.picture_file_name.nil? %>
    <div><%= image_tag(@event.picture.url(:medium), :border=>0, :alt => "No Photo Supplied") %></div>
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @event.name %></dd><br />
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @event.date.strftime("%b %d, %Y") %></dd><br />
  <dt><strong><%= model_class.human_attribute_name(:time) %>:</strong></dt>
  <dd><%= @event.time.strftime("%l:%M %p") %></dd><br />
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd><br />
  <dt><strong><%= model_class.human_attribute_name(:external_link) %>:</strong></dt>
  <dd><%= link_to @event.external_link, url_with_protocol(@event.external_link), :target => '_blank' %></dd><br />
  <dt><strong><%= model_class.human_attribute_name(:creator) %>:</strong></dt>
  <dd><%= @event.creator.username %></dd><br />
  <dt><strong><%= model_class.human_attribute_name(:source) %>:</strong></dt>
  <dd><%= @event.source %></dd><br />
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
